/*colors 
Blue 40c4e0
Yellow ffe443
white
grey c2c4c6
orange f9a01b
green 6cbe45
purple 662d91
*/



*{
	font-family: 'Quicksand', sans-serif;
}

.main{
	background-color: rgba(255, 228, 67, .8)
}


.about img{
		padding-top: 10px;

}


.header a, .footer a{
	color:white;
	font-weight: bold
}

.header {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
	padding: 30px;
	align-items: baseline;
	background-color: #40c4e0;
}

.header-img{
}

.nav-bar{
	width: 30vw;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.about_feelings, .goals, .faqs,.contact, .how_container{
	padding: 20px;
}

.about_feelings{
	border: 1px solid black;
	margin: auto;
}

.about_container{
	border: 1px solid black;
	display: flex;
	padding: 5px;
	margin-bottom: 10px;
}

.about-img{
	margin: auto;
	margin-left: 10px;

}

.goals{
	border: 1px solid black;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.goals img, .how img{
	border-radius: 50px;
}

.goal-items p{
	margin: auto;
}

.app-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
}

.goal-items{
	border: 1px solid black;
	padding: 10px;
	margin-right: 5px;	
}

.how_container{
	border: 1px solid black;
	margin: auto;
}

.how{
	border: 1px solid black;
	margin: auto;
	display: flex;
}

.how p{
	margin: auto;
}

.how img{
	margin-right: 10px;
	margin-bottom: 20px;
}

.faqs{
	border: 1px solid black;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

span{
	font-weight: bold;
	color: #6cbe45;
}

.contact{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}


.footer{
	border:1px solid black;
	padding: 20px;
	background-color: #40c4e0;
}

.footer .nav-bar{
	margin: auto;
}

.download-img{
	padding: 20px;

}

/*mailing list/contact form*/

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}