/*colors 
Blue 40c4e0
Yellow ffe443
white
grey c2c4c6
orange f9a01b
green 6cbe45
purple 662d91
*/



*{
	font-family: 'Quicksand', sans-serif;
}

.main{
	background-color: rgba(255, 228, 67, .8)

}


.about img{
		padding-top: 10px;

}

h3, h4{
	color: #40c4e0;
}

h4::first-letter{
	/*color: #662d91;*/
	font-size: 3rem;
}

h3::first-letter{
	/*color: #662d91;*/
	font-size: 3rem;
}

p, li{
	font-family: 'Roboto Slab', serif;
	font-size: 1.6rem;
	line-height: 3rem;
}


.header a, .footer a{
	color:#f9a01b;
	font-weight: bolder;
	font-size: 1.5em;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.header {
	display: flex;
	/*border: 1px solid black;*/
	justify-content: space-between;
	padding: 30px;
	align-items: baseline;
	background-color: rgb(64, 196, 224);
	background-image: url("../images/FeelingsPattern.png");
	/*background-size: cover;*/
}

.header-img{
}

.nav-bar{
	width: 30vw;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.nav-bar a:hover{
	color: #f9a01b;
	text-decoration: underline;
	font-weight: bolder;
}

.about_feelings, .goals, .faqs,.contact, .how_container{
	padding: 20px;
}

.about_feelings{
	/*border: 1px solid black;*/
	margin: auto;
	margin-bottom: 40px;
	clear: both;
}

.about_container{
	/*border: 1px solid black;*/
	display: flex;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-bottom: 3px solid white;
}

.about-img{
	margin: auto;
	margin-left: 10px;
}



.goals{
	/*border: 1px solid black;*/
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

.goals img, .how img{
	border-radius: 50px;
	margin-top: 40px;
}

.goal-items p{
	margin: auto;
}

.app-img, .app-img img{
	/*width: 50vw;*/
	/*display: inline-block;*/
	/*flex-wrap: wrap;*/
/*	margin: auto;
*/	margin-top: 20px;
	margin: auto;
}


.goal-items{
	/*border: 1px solid black;*/
	padding: 10px;
	margin-right: 5px;	
	margin-top: 40px;
}

.how_container{
	/*border: 1px solid black;*/
	margin: auto;
	border-bottom: 3px solid white;
}

.how{
	/*border: 1px solid black;*/
	margin: auto;
	display: flex;
	margin-bottom: 40px;
}

.how p{
	margin: auto;
}

.app-icons{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
}

.how img{
	margin-right: 10px;
	margin-bottom: 20px;

}

.item{
	border-radius: 30px;
}

.faqs-items{
	/*border: 1px solid black;*/
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

/*.faqs p{
	display: none;
}*/

.faqs{
	/*border: 1px solid black;*/
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

span{
	font-weight: bold;
	color: #6cbe45;
}

.contact{
	/*border: 1px solid black;*/
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
}

.box{
	margin: auto;
	display: flex;
}



.footer{
	/*border:1px solid black;*/
	padding: 20px;
	background-color: #40c4e0;
	background-image: url("../images/FeelingsPattern.png");
	/*background-size: cover;*/
}

.footer .nav-bar{
	width: 40vw;
	margin: auto;
}

.download-img{
	padding: 20px;

}

/*mailing list/contact form*/

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}


#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f9a01b; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #662d91; /* Add a dark-grey background on hover */
}

/*Animation attempt*/

@keyframes cloudDance{
	0%{transform: translate(-800px, 500px)}
	25%{transform: translate(-400px, 400px)}
	50%{transform: translate(-300px, 300px)}
	75%{transform: translate(-400px, 200px)}
	100%{transform: translate(-800px, 100px)}
}

.cloudDance{
	float: left;

	animation-name: cloudDance;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count:infinite;
}




